/CMG/.vs/CMG/v16/Server/sqlite3/db.lock
/CMG/.vs/CMG/v16/Server/sqlite3/storage.ide
/CMG/.vs/CMG/v16/Server/sqlite3/storage.ide-shm
/CMG/.vs/CMG/v16/Server/sqlite3/storage.ide-wal
/CMG/CMG.Application/obj/CMG.Application.csproj.nuget.cache
/CMG/CMG.Application/obj/CMG.Application.csproj.nuget.dgspec.json
/CMG/CMG.Application/obj/CMG.Application.csproj.nuget.g.props
/CMG/CMG.Application/obj/CMG.Application.csproj.nuget.g.targets
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.AssemblyInfo.cs
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.AssemblyInfoInputs.cache
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.assets.cache
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.csproj.CoreCompileInputs.cache
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.csprojAssemblyReference.cache
/CMG/CMG.Application/obj/project.assets.json
/CMG/CMG.Common/obj/CMG.Common.csproj.nuget.cache
/CMG/CMG.Common/obj/CMG.Common.csproj.nuget.dgspec.json
/CMG/CMG.Common/obj/CMG.Common.csproj.nuget.g.props
/CMG/CMG.Common/obj/CMG.Common.csproj.nuget.g.targets
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.AssemblyInfo.cs
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.AssemblyInfoInputs.cache
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.assets.cache
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.csproj.CoreCompileInputs.cache
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.csprojAssemblyReference.cache
/CMG/CMG.Common/obj/project.assets.json
/CMG/CMG.DataAccess/obj/CMG.DataAccess.csproj.nuget.cache
/CMG/CMG.DataAccess/obj/CMG.DataAccess.csproj.nuget.dgspec.json
/CMG/CMG.DataAccess/obj/CMG.DataAccess.csproj.nuget.g.props
/CMG/CMG.DataAccess/obj/CMG.DataAccess.csproj.nuget.g.targets
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.AssemblyInfo.cs
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.AssemblyInfoInputs.cache
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.assets.cache
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.csproj.CoreCompileInputs.cache
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.csprojAssemblyReference.cache
/CMG/CMG.DataAccess/obj/project.assets.json
/CMG/CMG.UI/obj/CMG.UI.csproj.nuget.cache
/CMG/CMG.UI/obj/CMG.UI.csproj.nuget.dgspec.json
/CMG/CMG.UI/obj/CMG.UI.csproj.nuget.g.props
/CMG/CMG.UI/obj/CMG.UI.csproj.nuget.g.targets
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.AssemblyInfo.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.AssemblyInfoInputs.cache
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.assets.cache
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.csproj.CoreCompileInputs.cache
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.csprojAssemblyReference.cache
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/MainWindow.g.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/MainWindow.g.i.cs
/CMG/CMG.UI/obj/project.assets.json
