/CMG/.vs/CMG/v16/Server/sqlite3/db.lock
/CMG/.vs/CMG/v16/Server/sqlite3/storage.ide
/CMG/.vs/CMG/v16/Server/sqlite3/storage.ide-shm
/CMG/.vs/CMG/v16/Server/sqlite3/storage.ide-wal
/CMG/CMG.Application/obj/CMG.Application.csproj.nuget.cache
/CMG/CMG.Application/obj/CMG.Application.csproj.nuget.dgspec.json
/CMG/CMG.Application/obj/CMG.Application.csproj.nuget.g.props
/CMG/CMG.Application/obj/CMG.Application.csproj.nuget.g.targets
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.AssemblyInfo.cs
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.AssemblyInfoInputs.cache
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.assets.cache
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.csproj.CoreCompileInputs.cache
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.csprojAssemblyReference.cache
/CMG/CMG.Application/obj/project.assets.json
/CMG/CMG.Common/obj/CMG.Common.csproj.nuget.cache
/CMG/CMG.Common/obj/CMG.Common.csproj.nuget.dgspec.json
/CMG/CMG.Common/obj/CMG.Common.csproj.nuget.g.props
/CMG/CMG.Common/obj/CMG.Common.csproj.nuget.g.targets
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.AssemblyInfo.cs
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.AssemblyInfoInputs.cache
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.assets.cache
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.csproj.CoreCompileInputs.cache
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.csprojAssemblyReference.cache
/CMG/CMG.Common/obj/project.assets.json
/CMG/CMG.DataAccess/obj/CMG.DataAccess.csproj.nuget.cache
/CMG/CMG.DataAccess/obj/CMG.DataAccess.csproj.nuget.dgspec.json
/CMG/CMG.DataAccess/obj/CMG.DataAccess.csproj.nuget.g.props
/CMG/CMG.DataAccess/obj/CMG.DataAccess.csproj.nuget.g.targets
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.AssemblyInfo.cs
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.AssemblyInfoInputs.cache
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.assets.cache
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.csproj.CoreCompileInputs.cache
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.csprojAssemblyReference.cache
/CMG/CMG.DataAccess/obj/project.assets.json
/CMG/CMG.UI/obj/CMG.UI.csproj.nuget.cache
/CMG/CMG.UI/obj/CMG.UI.csproj.nuget.dgspec.json
/CMG/CMG.UI/obj/CMG.UI.csproj.nuget.g.props
/CMG/CMG.UI/obj/CMG.UI.csproj.nuget.g.targets
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.AssemblyInfo.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.AssemblyInfoInputs.cache
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.assets.cache
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.csproj.CoreCompileInputs.cache
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.csprojAssemblyReference.cache
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/MainWindow.g.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/MainWindow.g.i.cs
/CMG/CMG.UI/obj/project.assets.json
/CMG/.vs/CMG/v16/.suo
/CMG/CMG.Application/bin/Debug/netcoreapp3.0/CMG.Application.deps.json
/CMG/CMG.Application/bin/Debug/netcoreapp3.0/CMG.Application.dll
/CMG/CMG.Application/bin/Debug/netcoreapp3.0/CMG.Application.pdb
/CMG/CMG.Application/bin/Debug/netcoreapp3.0/CMG.Common.dll
/CMG/CMG.Application/bin/Debug/netcoreapp3.0/CMG.Common.pdb
/CMG/CMG.Application/bin/Debug/netcoreapp3.0/CMG.DataAccess.dll
/CMG/CMG.Application/bin/Debug/netcoreapp3.0/CMG.DataAccess.pdb
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.csproj.CopyComplete
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.csproj.FileListAbsolute.txt
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.dll
/CMG/CMG.Application/obj/Debug/netcoreapp3.0/CMG.Application.pdb
/CMG/CMG.Common/bin/Debug/netcoreapp3.0/CMG.Common.deps.json
/CMG/CMG.Common/bin/Debug/netcoreapp3.0/CMG.Common.dll
/CMG/CMG.Common/bin/Debug/netcoreapp3.0/CMG.Common.pdb
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.csproj.FileListAbsolute.txt
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.dll
/CMG/CMG.Common/obj/Debug/netcoreapp3.0/CMG.Common.pdb
/CMG/CMG.DataAccess/bin/Debug/netcoreapp3.0/CMG.DataAccess.deps.json
/CMG/CMG.DataAccess/bin/Debug/netcoreapp3.0/CMG.DataAccess.dll
/CMG/CMG.DataAccess/bin/Debug/netcoreapp3.0/CMG.DataAccess.pdb
/CMG/CMG.DataAccess/bin/Debug/netcoreapp3.0/CMG.DataAccess.runtimeconfig.dev.json
/CMG/CMG.DataAccess/bin/Debug/netcoreapp3.0/CMG.DataAccess.runtimeconfig.json
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.csproj.FileListAbsolute.txt
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.dll
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.pdb
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/AutoMapper.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.Application.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.Application.pdb
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.Common.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.Common.pdb
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.DataAccess.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.DataAccess.pdb
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.UI.deps.json
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.UI.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.UI.exe
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.UI.pdb
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.UI.runtimeconfig.dev.json
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/CMG.UI.runtimeconfig.json
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/MaterialDesignColors.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/MaterialDesignThemes.Wpf.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/MediatR.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Design.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Relational.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Caching.Abstractions.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Caching.Memory.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.Abstractions.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.Binder.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.Json.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.DependencyInjection.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileProviders.Physical.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileSystemGlobbing.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Logging.Abstractions.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Logging.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Options.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Primitives.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/Remotion.Linq.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/runtimes/win-arm64/native/sni.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/sni.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/sni.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/System.Data.SqlClient.dll
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/System.Interactive.Async.dll
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/App.baml
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/App.g.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/App.g.i.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.csproj.CopyComplete
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.csproj.FileListAbsolute.txt
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.dll
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.exe
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.g.resources
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.pdb
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI_MarkupCompile.cache
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI_MarkupCompile.lref
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/MainWindow.baml
/CMG/.vs/CMG/config/applicationhost.config
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/appsettings.json
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.designer.deps.json
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI.designer.runtimeconfig.json
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI_Content.g.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/CMG.UI_Content.g.i.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/View/LeftNav.g.i.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/View/RenewalsView.g.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/View/RenewalsView.g.i.cs
/CMG/CMG.DataAccess/bin/Debug/netcoreapp3.0/CMG.Common.dll
/CMG/CMG.DataAccess/bin/Debug/netcoreapp3.0/CMG.Common.pdb
/CMG/CMG.DataAccess/obj/Debug/netcoreapp3.0/CMG.DataAccess.csproj.CopyComplete
/CMG/CMG.UI/bin/Debug/netcoreapp3.0/LinqKit.Microsoft.EntityFrameworkCore.dll
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/GeneratedInternalTypeHelper.g.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/GeneratedInternalTypeHelper.g.i.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/Resources/GridStyle.baml
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/Resources/LeftNavStyles.baml
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/View/RenewalsView.baml
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/View/SearchView.g.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/View/SearchView.g.i.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/View/SearchView.baml
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/Resources/LeftNavStyle.baml
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/Resources/ButtonStyle.baml
/CMG/.vs/CMG/DesignTimeBuild/.dtbcache
/CMG/CMG.Application/bin/Release/netcoreapp3.0/CMG.Application.deps.json
/CMG/CMG.Application/bin/Release/netcoreapp3.0/CMG.Application.dll
/CMG/CMG.Application/bin/Release/netcoreapp3.0/CMG.Application.pdb
/CMG/CMG.Application/bin/Release/netcoreapp3.0/CMG.Common.dll
/CMG/CMG.Application/bin/Release/netcoreapp3.0/CMG.Common.pdb
/CMG/CMG.Application/bin/Release/netcoreapp3.0/CMG.DataAccess.dll
/CMG/CMG.Application/bin/Release/netcoreapp3.0/CMG.DataAccess.pdb
/CMG/CMG.Application/obj/Release/netcoreapp3.0/CMG.Application.AssemblyInfo.cs
/CMG/CMG.Application/obj/Release/netcoreapp3.0/CMG.Application.AssemblyInfoInputs.cache
/CMG/CMG.Application/obj/Release/netcoreapp3.0/CMG.Application.assets.cache
/CMG/CMG.Application/obj/Release/netcoreapp3.0/CMG.Application.csproj.CopyComplete
/CMG/CMG.Application/obj/Release/netcoreapp3.0/CMG.Application.csproj.CoreCompileInputs.cache
/CMG/CMG.Application/obj/Release/netcoreapp3.0/CMG.Application.csproj.FileListAbsolute.txt
/CMG/CMG.Application/obj/Release/netcoreapp3.0/CMG.Application.csprojAssemblyReference.cache
/CMG/CMG.Application/obj/Release/netcoreapp3.0/CMG.Application.dll
/CMG/CMG.Application/obj/Release/netcoreapp3.0/CMG.Application.pdb
/CMG/CMG.Common/bin/Release/netcoreapp3.0/CMG.Common.deps.json
/CMG/CMG.Common/bin/Release/netcoreapp3.0/CMG.Common.dll
/CMG/CMG.Common/bin/Release/netcoreapp3.0/CMG.Common.pdb
/CMG/CMG.Common/obj/Release/netcoreapp3.0/CMG.Common.AssemblyInfo.cs
/CMG/CMG.Common/obj/Release/netcoreapp3.0/CMG.Common.AssemblyInfoInputs.cache
/CMG/CMG.Common/obj/Release/netcoreapp3.0/CMG.Common.assets.cache
/CMG/CMG.Common/obj/Release/netcoreapp3.0/CMG.Common.csproj.CoreCompileInputs.cache
/CMG/CMG.Common/obj/Release/netcoreapp3.0/CMG.Common.csproj.FileListAbsolute.txt
/CMG/CMG.Common/obj/Release/netcoreapp3.0/CMG.Common.csprojAssemblyReference.cache
/CMG/CMG.Common/obj/Release/netcoreapp3.0/CMG.Common.dll
/CMG/CMG.Common/obj/Release/netcoreapp3.0/CMG.Common.pdb
/CMG/CMG.DataAccess/bin/Release/netcoreapp3.0/CMG.Common.dll
/CMG/CMG.DataAccess/bin/Release/netcoreapp3.0/CMG.Common.pdb
/CMG/CMG.DataAccess/bin/Release/netcoreapp3.0/CMG.DataAccess.deps.json
/CMG/CMG.DataAccess/bin/Release/netcoreapp3.0/CMG.DataAccess.dll
/CMG/CMG.DataAccess/bin/Release/netcoreapp3.0/CMG.DataAccess.pdb
/CMG/CMG.DataAccess/bin/Release/netcoreapp3.0/CMG.DataAccess.runtimeconfig.dev.json
/CMG/CMG.DataAccess/bin/Release/netcoreapp3.0/CMG.DataAccess.runtimeconfig.json
/CMG/CMG.DataAccess/obj/Release/netcoreapp3.0/CMG.DataAccess.AssemblyInfo.cs
/CMG/CMG.DataAccess/obj/Release/netcoreapp3.0/CMG.DataAccess.AssemblyInfoInputs.cache
/CMG/CMG.DataAccess/obj/Release/netcoreapp3.0/CMG.DataAccess.assets.cache
/CMG/CMG.DataAccess/obj/Release/netcoreapp3.0/CMG.DataAccess.csproj.CopyComplete
/CMG/CMG.DataAccess/obj/Release/netcoreapp3.0/CMG.DataAccess.csproj.CoreCompileInputs.cache
/CMG/CMG.DataAccess/obj/Release/netcoreapp3.0/CMG.DataAccess.csproj.FileListAbsolute.txt
/CMG/CMG.DataAccess/obj/Release/netcoreapp3.0/CMG.DataAccess.csprojAssemblyReference.cache
/CMG/CMG.DataAccess/obj/Release/netcoreapp3.0/CMG.DataAccess.dll
/CMG/CMG.DataAccess/obj/Release/netcoreapp3.0/CMG.DataAccess.pdb
/CMG/CMG.UI/bin/Release/netcoreapp3.0/appsettings.json
/CMG/CMG.UI/bin/Release/netcoreapp3.0/AutoMapper.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.Application.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.Application.pdb
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.Common.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.Common.pdb
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.DataAccess.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.DataAccess.pdb
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.UI.deps.json
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.UI.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.UI.exe
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.UI.pdb
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.UI.runtimeconfig.dev.json
/CMG/CMG.UI/bin/Release/netcoreapp3.0/CMG.UI.runtimeconfig.json
/CMG/CMG.UI/bin/Release/netcoreapp3.0/LinqKit.Microsoft.EntityFrameworkCore.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/MaterialDesignColors.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/MaterialDesignThemes.Wpf.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/MediatR.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.Design.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.Relational.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Caching.Abstractions.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Caching.Memory.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Configuration.Abstractions.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Configuration.Binder.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Configuration.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Configuration.Json.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.DependencyInjection.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.FileProviders.Physical.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.FileSystemGlobbing.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Logging.Abstractions.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Logging.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Options.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Microsoft.Extensions.Primitives.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Newtonsoft.Json.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/Remotion.Linq.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/runtimes/win-arm64/native/sni.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/runtimes/win-x64/native/sni.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/runtimes/win-x86/native/sni.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/System.Data.SqlClient.dll
/CMG/CMG.UI/bin/Release/netcoreapp3.0/System.Interactive.Async.dll
/CMG/CMG.UI/obj/Release/netcoreapp3.0/App.baml
/CMG/CMG.UI/obj/Release/netcoreapp3.0/App.g.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/App.g.i.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI.AssemblyInfo.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI.AssemblyInfoInputs.cache
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI.assets.cache
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI.csproj.CopyComplete
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI.csproj.CoreCompileInputs.cache
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI.csproj.FileListAbsolute.txt
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI.csprojAssemblyReference.cache
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI.dll
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI.exe
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI.g.resources
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI.pdb
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI_Content.g.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI_Content.g.i.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI_MarkupCompile.cache
/CMG/CMG.UI/obj/Release/netcoreapp3.0/CMG.UI_MarkupCompile.lref
/CMG/CMG.UI/obj/Release/netcoreapp3.0/GeneratedInternalTypeHelper.g.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/GeneratedInternalTypeHelper.g.i.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/MainWindow.baml
/CMG/CMG.UI/obj/Release/netcoreapp3.0/MainWindow.g.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/MainWindow.g.i.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/Resources/ButtonStyle.baml
/CMG/CMG.UI/obj/Release/netcoreapp3.0/Resources/GridStyle.baml
/CMG/CMG.UI/obj/Release/netcoreapp3.0/Resources/LeftNavStyle.baml
/CMG/CMG.UI/obj/Release/netcoreapp3.0/View/RenewalsView.baml
/CMG/CMG.UI/obj/Release/netcoreapp3.0/View/RenewalsView.g.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/View/RenewalsView.g.i.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/View/SearchView.baml
/CMG/CMG.UI/obj/Release/netcoreapp3.0/View/SearchView.g.cs
/CMG/CMG.UI/obj/Release/netcoreapp3.0/View/SearchView.g.i.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/Resources
/CMG/CMG.UI/CMG.UI.csproj.user
/CMG/CMG.UI/obj/Release/netcoreapp3.0/Resources/HyperLinkStyle.baml
/CMG/CMG.UI/obj/Release/netcoreapp3.0/Resources/ImageStyle.baml
/CMG/CMG.UI/obj/Release/netcoreapp3.0/Resources/ListViewStyle.baml
/CMG/CMG.UI/obj/Release/netcoreapp3.0/Resources/MenuStyle.baml
/CMG/CMG.UI/obj/Release/netcoreapp3.0/Resources/TextBlockStyle.baml
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/View/AgentsViewWINDOW.g.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/View/AgentsView.g.i.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/View/AgentsView.g.cs
/CMG/CMG.UI/obj/Debug/netcoreapp3.0/View/AgentsView.baml
